:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  position: relative;
}
.header {
  height: 100vh;
  width: 100%;
  background: url("/img/main-back.jpg") no-repeat center center/cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding: 2% 8%;
}
.logo {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #f9004d;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}
.btn {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}

.content {
  position: absolute;
  margin-left: 20%;
}
.content h1 {
  color: #fff;
  margin: 20px 0 20px;
  font-size: 75px;
}
.content h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}
.content h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: #fff;
  top: 6px;
  right: 6px;
}
/* Main Section */

/* About Section */
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.main-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.main-about img {
  height: 100%;
  width: 50%;
  flex-basis: 20%;
}
.about-text {
  width: 550px;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text span {
  color: #f9004d;
}
.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-text a {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.about-text a:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
/* Media Query */

@media (min-width: 355px) and (max-width: 768px) {
  body {
    min-width: 100%;
  }
  nav {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 5px;
    margin-left: 60%;
  }
  .logo {
    font-size: 20px;
  }
  .btn {
    padding: 5px 10px;
  }
  .content {
    margin-left: 1%;
  }
  .main-about img {
    height: 300px;
  }
  .about-text h2 {
    font-size: 30px;
    margin: 10px 0;
  }
  .about-text h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .about-text p {
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .about-text a {
    margin: 10px 0 0 0px;
  }
}
